/*seletor universal*/
* {
  margin: 0;
  padding: 0;
  /*mudamos a maneira como contamos o tamanho da caixa*/
  box-sizing: border-box;
}

ul {
  /*retiramos os pontinhos da lista*/
  list-style: none;
}
body {
  /*Puxa a imagem*/
  background-image: url(./assets/bg.jpg);
  /*começa do top e mantém centralizado*/
  background-position: top center;
  /*reescala a imagem conforme muda o tamanho da tela*/
  background-size: 100% auto;
  /*pra não ficar repetindo o background*/
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: 'inter', sans-serif;
  line-height: 160%;
}

header{
  padding-top: 32px;
  height: calc(120px+32px);
  
}
/*div não tem propriedade de texto*/
header div{
  width: 120px;
  margin: auto;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 52.52%, #E2D45C 100%);
  border-radius: 50%;
  display: flex;
  padding: 4px;
  transition: transform .3s;
  
}

header div:hover{
  transform: scale(1.1);
}
header img{
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;
  /*display grid habilita gap*/
  display: grid;
  gap: 24px;
}

section {
  color: white;
  /*para fazer o gradiente*/
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 52.52%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 10px;
}

section div{
  background-color: #2A2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;

}
section h2 {
  letter-spacing: -0.47px;
}

section p{
  letter-spacing: -0.18px;
  color: #A1A1AA;
}

section ul{
  display: flex;
  /*para "quebrar a linha das imagens*/
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

section ul li{
transition: transform .3s;
}

section ul li:hover{
  transform: scale(1.1);
}
.games-list img{
  width: 90px;
  border-radius: 8px;
}

.channel-list img{
  border-radius: 50%;
  width: 70px;
  border: 1px solid #443E54;
}

/*Animation*/
header div{
  /*primeiro atributo o nome da animação. 
  segundo tempo de duração
  terceiro delay
  já o backward traz o from aqui pra cima pra evitar saltos na animação*/
  /*Toda vez que eu atribuir um delay é interessante puxar as prop. previamente, através do atributo backwards*/
  animation: fromTop .7s .2s backwards;

}
/*Este ajuda a terminar de eliminar os saltos da animação*/
main section {
  animation: fromBottom .7s backwards;
}

/*main, pega o filho section, do filho nº1*/
main section:nth-child(1){
  animation-delay: 0;
}

main section:nth-child(2){
  animation-delay: .4s;
}

main section:nth-child(3){
  animation-delay: .8s;
}

@keyframes fromTop{
  from {
    /*como leva um tempo pra carregar a imagem, usaremos a opacidade para esconder este atraso*/
    opacity: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom{
  from {
    /*como leva um tempo pra carregar a imagem, usaremos a opacidade para esconder este atraso*/
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}